.bottomNav{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.MuiBottomNavigation-root{
    background-color: white !important;
}

.MuiBottomNavigationAction-label , .MuiSvgIcon-root{
    color: #000;
}

.Mui-selected .MuiBottomNavigationAction-label ,
.Mui-selected  .MuiSvgIcon-root{
    color: purple;
}