.customPagination{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;
    padding: .7rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
}

.MuiPaginationItem-icon{
    color:white;
}